/* Badge */

.authorName {
    position: absolute;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.99);
    padding-top: 10px;
    margin: 5px 15px 10px 5px;
    position: absolute;
    font-family: Tahoma;
}

.authorName span {
    font-size: 19px;
    font-weight: 500;
    font-family: Tahoma;
}

.badge:hover {
    transform: translateY(-80px);
    background-color: rgba(81, 31, 227, 0.94);
    transition: all 1s ease;
}

.badgeName {
    font-family: Tahoma;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.99);
    font-weight: 500;
    margin-left: 25px;
    margin-top: 20px;
}

.badge {
    bottom: -80px;
    position: fixed;
    width: 150px;
    height: 150px;
    background-color: rgba(175, 32, 217, 0.89);
    margin-left: 25px;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transform: translateY(0);
    transition: all 1s ease;
}

/* MAIN */

.active {
    background-color: rgba(221, 41, 41, 0.9);
    -webkit-box-shadow: inset 0 -10px 0 -7px rgba(194, 40, 41, 0.95);
    -moz-box-shadow: inset 0 -10px 0 -7px rgba(196, 41, 42, 0.94);
    box-shadow: inset 0 -10px 0 -7px rgba(202, 42, 43, 0.92);
}

.add {
    background-color: rgba(31, 135, 212, 0.97);
    padding: 14px;
    cursor: pointer;
    float: left;
    width: 16.5%;
    margin-top: 15px;
    border: none;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 700;
    -webkit-box-shadow: inset 0 -12px 0 -7px rgba(31,111,171,1);
    -moz-box-shadow: inset 0 -12px 0 -7px rgba(31,123,171,1);
    box-shadow: inset 0 -12px 0 -7px rgba(31,123,171,1);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: rgba(255, 255, 255, 0.99);
}

.add:hover {
    background-color: rgba(7, 111, 184, 0.94);
}

.bl-left {
    width: 65%;
    float: left;
    background-color: rgba(255, 255, 255, 0.99);
}

.bl-right {
    float: right;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.99);
}

body {
    background-color: rgba(218, 218, 218, 0.99);
}

.button span {
    line-height: 30px;
    font-size: 25px;
    width: 100%;
    height: 100%;
}

.buyButton:hover {
    background-color: rgba(195, 195, 197, 0.97);
    font-family: Tahoma;
}

.boughtButton {
    display: none;
    font-family: Tahoma;
}

.boughtCount {
    margin-left: 38px;
    font-family: Tahoma;
}

.buyContainer {
    border-top: 1px solid rgba(220, 220, 220, 0.97);
    border-bottom: 1px solid rgba(220, 220, 220, 0.97);
    font-size: 11px;
    padding-left: 10px;
    padding-top: 6px;
}

.buyText {
    display: inline-block;
    color: rgba(93, 93, 93, 0.96);
    padding: 9px 9px;
    margin-top: 4px;
    border-radius: 4px;
    background-color: rgba(234, 234, 234, 0.93);
    font-family: Tahoma;
}

.buyText:last-child {
    margin-bottom: 10px;
    font-family: Tahoma;
}

.buyLable {
    padding: 3px 5px;
    border-radius: 50%;
    background-color: rgba(244, 114, 28, 0.95);
    color: rgba(255, 255, 255, 0.99);
}

.buyButton {
    cursor: pointer;
    margin-right: 4px;
    padding: 9px 17px;
    float: right;
    border: 1px solid rgba(221, 221, 222, 0.94);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
    color: rgba(97, 97, 97, 0.99);
    background-color: rgba(247, 247, 247, 0.98);
    -webkit-box-shadow: inset 0 -10px 0 -7px rgba(208,208,210,1);
    -moz-box-shadow: inset 0 -10px 0 -7px rgba(208,208,210,1);
    box-shadow: inset 0 -10px 0 -7px rgba(208,208,210,1);
    font-family: Tahoma;
}

.buttonDelete span {
    margin-left: 13px;
}

.buttonDelete {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.99);
    background-color: #f0a09f;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    -webkit-box-shadow: inset 0 -10px 0 -7px rgba(240,132,131,1);
    -moz-box-shadow: inset 0 -10px 0 -7px rgba(240,132,131,1);
    box-shadow: inset 0 -10px 0 -7px rgba(240,132,131,1);
}

.buttonDelete:hover {
    background-color: rgba(240, 119, 118, 0.98);
}

.buttonAdd span {
    margin-left: 10px;
}

.buttonAdd {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.99);
    background-color: rgba(30, 188, 69, 0.98);
    border-radius: 50%;
    width: 34px;
    height: 34px;
    -webkit-box-shadow: inset 0 -10px 0 -7px rgba(22,164,66,1);
    -moz-box-shadow: inset 0 -10px 0 -7px rgba(22,164,66,1);
    box-shadow: inset 0 -10px 0 -7px rgba(22,164,66,1);
}

.buttonAdd:hover {
    background-color: #178f34;
}

.button {
    float: left;
}

.centerButtons {
    margin-top: 8px;
    margin-left: 40%;
}

.container {
    width: 100%;
    margin-top: 100px;
    margin-right: 5px;
    margin-left: 5px;
}

.center {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

.cont {
    border-radius: 3px;
}

.deleteItem {
    font-size: 12px;
    cursor: pointer;
    margin-right: 16px;
    background-color: #dd2929;
    float: right;
    padding-left: 12px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 12px;
    border-radius: 4px;
    margin-left: 5px;
    margin-top: 2px;
    color: rgba(255, 255, 255, 0.99);
    -webkit-box-shadow: inset 0 -10px 0 -7px rgba(192,40,41,1);
    -moz-box-shadow: inset 0 -10px 0 -7px rgba(192,40,41,1);
    box-shadow: inset 0 -10px 0 -7px rgba(192,40,41,1);
}

.deleteItem:hover {
    background-color: rgba(192, 40, 41, 0.95);
}

.itemName {
    font-size: 14px;
    margin: 15px;
    margin-right: 0;
    float: left;
    width: 75%;
    padding: 14px;
    border-radius: 5px;
    border: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.19);
    -moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.19);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.19);
}

.item {
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    border-top: 1px solid rgba(220, 220, 220, 0.93);
    font-size: 14px;
}

.itemLable {
    float: left;
    line-height: 20px;
    text-align: center;
    margin-left: 15px;
}

.nameBlock {
    height: 75px;
}

.numberItem {
    background-color: rgba(234, 234, 234, 0.99);
    text-align: center;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 12px;
    color: rgba(93, 93, 93, 0.96);
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.notBuy {
    margin-right: 16px;
}

.rightLabel {
    padding: 15px;
    font-weight: 600;
    font-family: Tahoma;
}

/* Tooltips */

.tooltip::after {
    font-size: 12px;
    margin-left: -35px;
    opacity: 0;
    padding: 6px 14px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    color: rgba(255, 255, 255, 0.99);
    content: attr(data-tooltip);
    margin-top: -40px;
    position: absolute;
    background: rgba(161, 33, 218, 0.95);
    visibility: hidden;
    transition: all 1s ease-in-out;
    transform: scale(0);
    transform-origin: center bottom;
    font-family: Tahoma;
}

.tooltip:hover::after {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}

/* Mobile verions*/

@media (max-width: 1000px) {
    .cont {
        float: none;
        width: 100%;
        margin-top: 25px;
        min-width: 450px;
    }

    .item:last-child {
        padding-bottom: 10px;
    }

    .itemName {
        width: 73%;
    }
}

@media print {
    .badgeName {
        display: none;
    }

    .badge {
        border: 1px solid rgba(174, 32, 216, 0.98);
    }
}